*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(26, 26, 26);
  min-height: 100dvh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 5px;
  overflow: hidden;
}

.scramble-text {
  /* Base styling */
  color: rgb(85, 85, 85); /*rgb(102, 101, 101)*/
  font-size: 1rem;

  grid-column: 1 / -1;
  grid-row: 1 / -1;
  z-index: -1;

  /* Creates perfect squares:
   █ (Full Block) 
   ░ ▒ ▓ (Shade Blocks)
  */
  font-family: "Courier New", monospace;

  /* manually adjusted for better visual effect */
  --char-width: 1ch;
  line-height: calc(var(--char-width) + 0.25em);
  width: calc(100% + calc(var(--char-width)) * 0.5);
  margin-top: 0.2ch;

  /*
  word-break: break-all;
  overflow-wrap: break-word;
  */

  word-break: break-all;

  /* DEBUGGING STYLES 
  background-color: red; */
}
